body
{
	background: url("img/pizza_background.jpg");
	background-size: cover;
	color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

h1
{
	font-size: 42px;
	font-weight: 700;
	color: #ffffff;
	margin-bottom: 20px;
	margin-left: 10px;
}

.row {
	margin: 20px 10px;
}

.col {
	display: inline-block;
	margin: 0px 10px;
}

#komentarz {
	resize: none;
}

fieldset {
	max-width: 550px;
}

legend, label {
	font-weight: 500;
}
